
.btn {
  width: fit-content;
  border-bottom: 3px solid $hoverColor;

  font-weight: 700;
  font-size: 16px;

  letter-spacing: 2.29px;

  transition: all 0.3s ease-in-out;

  &:hover {
    color: $hoverColor !important;
  }
}