$primaryColor: #151515;
$hoverColor: #4EE1A0;
$footerColor: #242424;
$primaryTextColor: #FFFFFF;
$secondaryColor: #D9D9D9;

$activeColor: green;
$errorColor: #FF6F5B;

$fontPrimary: 'Space Grotesk';

$textXl: 88px;
$textL: 48px;
$textM: 24px;
$textRegular: 18px;

