@import "./abstracts/variables";
@import "./base/reset";
@import "./typography/fonts";

@import "./abstracts/mixins";

@import "./pages/home";
@import "./layouts/header";

@import "./components/btn";
@import "./components/divider";
@import "./components/error";
@import "./components/success";
@import "./components/modal";


.my-loader rect {
  animation: loading-animation 1.5s infinite alternate;
}

@keyframes loading-animation {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
